{% extends 'base.html' %}

{% block content %}
<div>
    <ul>
         <p> Supermarkets:</p>
        {% for supermarket in supermarkets %}
        <li>
            {% if supermarket.used %}
                <p>{{ supermarket.name }}</p>
            {% else %}
                <a href="{{ url_for('supermarkets.get_supermarket_id', id = supermarket.id) }}">{{ supermarket.name }}</a>
            {% endif %}
        </li>
        {% endfor %}
        <a href="{{ url_for('supermarkets.add_supermarket')}}">Add new supermarket</a><br>
    </ul>
</div>
{% endblock %}